<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://kit.fontawesome.com/5a0e212fa6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Css/style.css">
    <script src="../Js/cards.js"></script>
    <title>Document</title>
</head>

<body>

                             <!-- HEADER  -->
    <header>
         <section class="nav-menu "> 
            <nav class="navbar">
                <div class="logo mt-5 " style="height: initial; " >
                    <img src="../Images/logo.png" alt="logo" class="mb-5">
                </div>
                <ul class="list-group list-group-horizontal ">
                  
                    <li class="list-group-item">
                     
                 
                    <div class="panels ">
                        <li class="list-group-item list-group-horizontal ml-auto">
                            <a href="register.html" class="nav-link">Sign up</a>
                        </li>
                        <li class="list-group-item list-group-horizontal">
                            <a href="login.html" class="nav-link">Sign</a>
                        </li>
                    </div>

                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
                <div class="panel">
                   
                </div>
            </nav>
        </section>
    </header>
                            <!-- HEADER FINISH -->





                                  <!-- MAIN -->
    <main>
        <section class="about-us">
            <div class="container-fluid">
                <div class="about-site">
                    <h1>About Us</h1>
                    <p><em>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, obcaecati maiores.
                            Corporis reprehenderit minus ullam. Ratione obcaecati mollitia impedit, beatae sequi aut
                            laudantium cumque commodi nam perferendis numquam amet natus omnis cupiditate quae culpa
                            consequatur praesentium doloremque dolores ad quidem. Voluptatibus quisquam sequi numquam
                            nobis,
                            maxime, quibusdam id culpa fuga architecto, consectetur tenetur dolores quam laborum facere
                            non
                            at earum fugiat dignissimos exercitationem nostrum. Quisquam, dolorum! Recusandae cupiditate
                            voluptatum dicta? Accusamus nesciunt dignissimos numquam quis eius voluptatibus. Maiores
                            inventore esse aperiam nesciunt ipsum maxime odit facilis tempora, numquam sunt! Iure
                            commodi,
                            est quia vitae provident architecto veritatis, modi minus suscipit aut perferendis nihil
                            corrupti? Ipsam eius ducimus veritatis ipsa architecto dignissimos ex non aspernatur aliquid
                            nesciunt. 
                        </em></p>
                </div>
                <div class="site-image">
                    <img src="../Images/signimg.jpg" alt="image">
                </div>
            </div>
        </section>
        <section class="site-collapse">
            <div class="container-fluid">
                <div class="web-image">
                    <img src="../Images/signimg.jpg" alt="image">
                </div>
                <div class="colappsable-site">
                    <div class="site-accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Collapsible Group Item #1
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad
                                        squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                                        truck
                                        quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                        bird
                                        on it
                                        squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                        helvetica,
                                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                        excepteur
                                        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                        aesthetic
                                        synth
                                        nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            Collapsible Group Item #2
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad
                                        squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                                        truck
                                        quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                        bird
                                        on it
                                        squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                        helvetica,
                                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                        excepteur
                                        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                        aesthetic
                                        synth
                                        nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            Collapsible Group Item #3
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad
                                        squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                                        truck
                                        quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                        bird
                                        on it
                                        squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                        helvetica,
                                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                        excepteur
                                        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                        aesthetic
                                        synth
                                        nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>

            </div>
        </section>
        <section class="cards">
            <div class="container mt-5">
                <div class="row" id="cardLists"></div>
            </div>
        </section>
  
    </main>
                              <!-- MAIN FINISH -->




                         <!-- FOOTER -->    
    <footer>
        <section class="footer-menu" style="background-color: rgb(182, 150, 108);">
            <div class="container-fluid"style="background-color: rgb(182, 150, 108);">

                <div class="logo" >
                    <img src="../Images/logo.png" alt="My logo">
                </div>
               
                <div class="menu-icon">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">
                           <a href="https://www.instagram.com/sh3ngul/?hl=tr" target="_blank"> <i class="fab fa-instagram"> Instaqram account</i></a>
                        </li>
                        <li class="list-group-item">
                           <a href="https://www.facebook.com/sh3ngul" target="_blank"> <i class="fab fa-facebook-square"> FaceBook</i></a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://www.youtube.com/channel/UCjH7OrWroQL_02Y3rg__-5g" target="_blank"><i class="fab fa-youtube" > YouTube</i></a>
                        </li>
                      
                    </ul>
                </div>
            </div>
        </section>
    </footer>               
                     <!-- FOOTER FINISH  -->

                        
                        <!-- JS FILE  -->
    <script src="../Js/list.js"></script>
    <script src="../Js/cardBox.js"></script>
    <script src="../Js/cardManager.js"></script>
    <script src="../Js/app.js"></script>






    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>