<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
         integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
 
    <title>Document</title>
    <link rel="stylesheet" href="../Css/register.css">
</head>

<body>
    <section class="register">
        <div class="container">
            <div class="register-box">
                <h1>Register</h1>
                <form action="">
                  
                    <div class="text-box">
                        <input type="text" placeholder="Name" id="userName" required>
                    </div>
                    <div class="text-box">
                      
                    </div>
                    <div class="text-box">
           
                        <input type="email" placeholder="Email" id="userEmail" required>
                    </div>
                    <div class="text-box">
               
                        <input type="password" placeholder="Password" id="userPassword" required>
                      
                    </div>
                    <div class="button-panel">
                        <input type="button" value="Signup" class="btn" id="register">
                        <a href="login.html" class="btn">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script src="../Js/register.js"></script>
    <script src="../Js/showRegPass.js"></script>
</body>

</html>